html {
	&, body {
		margin: 0px;
		padding: 0px;
	}

	&, body, #root, main {
		height: 100%;
		width: 100%;
	}

	font-family:'Francois One';
	color:white;
}

body {
	background-color: white;
	color: black;
	text-align: center;
}

.panel {
	width: 100%;
	height: 100vh;

	article {
    height: calc(100vh - 100px);
    justify-content: space-around;
  }
}

.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.my-12 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.p-12 {
	padding: 12px;
}

.flexbox {
	display: flex;
	&.row {
		flex-direction: column;
	}
}

a.button {
	text-decoration:none;
	display:block;
}

.button {
	position: relative;
	vertical-align: top;
	width: 75%;
	height: 60px;
	padding: 0;
	font-size: 34px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	line-height:58px;
	text-transform:uppercase;
	font-family:'Open Sans',serif;
	border:none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 2px solid #DFA800;
	-webkit-box-shadow: inset 0 -2px #DFA800;
	box-shadow: inset 0 -2px #DFA800;
	max-width:300px;
	margin:8px auto;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}


.container {
 display:table;
 table-layout:fixed;
}

#viewport, .panels, .panels .container {
	width: 100%;
	height: 100%;
}

#panels .container {
	position: relative;
}

.panel, .panel .content {
	width:100%;
	height:100%;
}




.styles_modal__gNwvD {
	width: 100% !important;
}

.styles_closeButton__20ID4 {
	display: none;
}
