#game {
	background-color:#FFFFFF;
  overflow-x: hidden;
  .bottles, .timer, .tries {
  	display:inline;
  	position: absolute;
  	width:auto;
  	float: left;
  	padding:8px;
  	color:black;
  	text-shadow:1px 1px grey;
  	text-transform:uppercase;
  	font-size:18px;
  	opacity: 0.25;
  	white-space:nowrap;
  	right:0;
  }

  .bottles {
  	bottom:0;
    margin: 0 auto;
  }

  .tries {
  	left:0px;
  	position: inherit;
  	opacity: 1;
  	min-width: 64px;
  	text-align: left;
    margin: 0 auto;
  }

  .tries .bottleicon {
  	background-color:none;
  	border:1px solid darkgrey;
  	margin:0 1px;
  	max-height:24px;
  	max-width:24px;
  	display:inline-block;
  }

  .tries .bottleicon img {
  	max-height:24px;
  	height:24px;
  	width:auto;
  }


  .bottleicon img {
  	width:auto;
  	height:100%;
  	margin:0 auto;
  	max-height: 32px;
  }

  .bottle {
  	position:relative;
  	overflow:hidden;
  	height:100%;
  	width:100%;
  }

  .beer {
  	position: absolute;
  	display: inline-block;
  	height: 100%;
  	width: 100%;
  	vertical-align: top;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	background-repeat:no-repeat;
  	background-position: center;
  	background-size: contain;
  	text-align: center;
  	transition:transform .3s;
  	transition:-webkit-transform .3s;
  	-webkit-transition: -webkit-transform .3s;
  	left:0;
    top:0;

    &.open:after {
    	background-image:url(../images/open.svg);
    }

    &.notopen:after {
    	background-image:url(../images/notopen.svg);
    }

    &.last {
    	transform: translate3d(200%,0,0);
    	-webkit-transform: translate3d(200%,0,0);
    	transition-duration: 0s;
    	-webkit-transition-duration: 0s;
    }

    &.first {
    	transform: translate3d(-100%,0,0);
    	-webkit-transform: translate3d(-100%,0,0);
    }

    &.second {
    	-webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
    }

    &:after {
    	content:' ';
    	display:block;
    	width:100%;
    	height:100%;
    	background-repeat: no-repeat;
    	background-position:center;
    	background-size:50%;
    }
  }

  .cap {
  	width: 90px;
  	height: 90px;
    font-size: 1.43rem;
  	margin:8px auto;
  	border: 4px solid #cfcfcf;
    background-color: rgba(0,0,0,0.4);
  	border-radius: 100%;
  	-webkit-border-radius: 100%;
    line-height: 94px;

    &:before {
    	content:'PRESS';
    	color:white;
    	display:block;
    }

    &:after {
    	display:none;
    }

    &.opener, &:hover {
    	background:url(../images/bottle-cap.svg) no-repeat center;
    	background-size:contain;
    	border:none;
      &:before {
      	display:none;
      }

      &:after {
        content: 'HOLD';
        color: black;
        display: block;
      }
    }
  }

  .container {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }

}

#start-button.button {
	background-color: grey;
	color:#efefef;
	padding-left: 1%;
	padding-right: 1%;
  border-bottom-color: #999999;
  box-shadow: inset 0 -2px #999999;
}
