@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#instructions {
	background-color:#8BC34A;
	color:white;

  .button {
   background-color:#E84E40;
   border-bottom-color: #B62216;
   -webkit-box-shadow: inset 0 -2px #B62216;
   box-shadow: inset 0 -2px #B62216;
   color:#7B170F;
   text-shadow:1px 1px 0 #F5B7B1;
 }

 .slick-slide {
   img {
     width: 100%;
   }
 }
}
