#intro {
	header {
		font-family: "Pacifico";
		line-height: 24px;
		* {
			margin: 0;
			text-align: center;
		}

		.heading-size-1 {
			font-size: 1.75rem;
		}

		.heading-size-2 { font-size: 1.5rem; }
	}

	background-color:rgb(0, 188, 212);
	color:white;
	text-shadow:1px 1px 0 #333;

	.button {

		text-shadow: 1px 1px 0 white;
		color:black;
		background: #FFCA28;
		border-bottom-color: #DFA800;
		-webkit-box-shadow: inset 0 -2px #DFA800;
		box-shadow: inset 0 -2px #DFA800;
	}

	article {
	    height: inherit;
	}

	img {
		object-fit: contain;
		width: 100%;
	}

	.panel {
		> section  {
			padding: 24px;
		}
	}
}
