$fa-font-path: "~/fonts";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./node_modules/font-awesome/scss/font-awesome";

#start {
	background-color:rgb(255, 152, 0);
	color:black;
	text-shadow:1px 1px #dedede;

	.button {

    &.enabled {
      background-color: #5677fc;
  		border-bottom-color: #3f51b5;
  		box-shadow: inset 0 -2px #3f51b5;
  		color:white;
  		text-shadow: 1px 1px 0 #3f51b5;
    }

    &.disabled {
      background-color: grey;
  		border-bottom-color: darkgrey;
      pointer-events: none;
  		box-shadow: inset 0 -2px #ccc;
  		color: darkgrey;
  		text-shadow: 1px 1px 0 #aaaaaa;
      &[disabled] {
        pointer-events: none;
      }
    }


	}

  header {
  	h1 {
      text-shadow:1px 1px 0 white;
    }
  }

  .slick-slide {
    figure {
      margin: 0;
      img {
        height: 100%;
        width: auto;
				max-height: 40vh;
        filter: grayscale(100%);
        opacity: 0.80;
      }

      &.selected {
        position: relative;
        &::after {
          content: $fa-var-heart;
          font-family: 'FontAwesome';
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          color: #FF580D;
          font-size: 3rem;
          position: absolute;
          transform: translate(50%, 5%);
          top: 5%;
          left: 0;
          display: block;
          border-radius: 70%;
          background-color: white;
          height: 64px;
          width: 64px;
          line-height: 64px;
        }
      }
    }

    &.slick-current {
      position: relative;
      figure {
        img {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }

  .slick-dots li {
    margin: 0;
  }
}
